.banner{
  img{
    width: 100%;
    height: auto;
  }
}

.b_customer{
  padding: vw(60) 0;
  background-color: #0E72B1;
  &_left{
    margin-bottom: vw(50);
    text-align: center;
    .b_customer_ttl{
      font-size: vw(36);
      line-height: 1;
      font-weight: bold;
      color: #fff;
      margin-bottom: vw(20);
    }
    p{
      font-size: vw(28);
      line-height: 1.5;
      color: #fff;
    }
  }
  &_right{
    .slider_customer{
      li{
        width: vw(300);
        background-color: #fff;
        padding: vw(10);
        &:not(:last-child){
          margin-right: vw(20);
        }
        figure{
          img{
            width: 100%;
            height: auto;
          }
        }
        span{
          background-color: #000;
          color: #fff;
          border-radius: 100px;
          font-size: vw(20);
          line-height: 1;
          padding: vw(10) vw(20);
          display: block;
          margin: vw(15) 0 vw(30);
        }
        p{
          font-size: vw(26);
          line-height: 1.5;
          font-feature-settings: "palt" 1;
        }
      }
    }
    .slick-prev,
    .slick-next{
      display: none !important;
    }
  }
}

.b_design{
  padding: vw(50) 0 vw(350);
  position: relative;
  &:before{
    content: "";
    width: 100%;
    height: vw(240);
    background: url('../img/bg_ttl_design_sp.png') bottom center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .deco_01{
    position: absolute;
    top: vw(750);
    left: 0;
    pointer-events: none;
    img{
      width: 100%;
      height: auto;
    }
  }
  .deco_02{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
    margin-top: vw(-550);
    img{
      width: 100%;
      height: auto;
    }
  }
  .deco_03{
    position: absolute;
    bottom: vw(940);
    left: 0;
    pointer-events: none;
    img{
      width: 100%;
      height: auto;
    }
  }
  &_ttl{
    text-align: center;
    margin-bottom: vw(180);
    .en{
      display: block;
      font-size: vw(35);
      line-height: 1;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .jp{
      display: block;
      font-size: vw(22);
      line-height: 1;
    }
  }
  &_list{
    li{
      max-width: vw(450);
      margin: 0 auto;
      position: relative;
      &:not(:last-child){
        margin-bottom: vw(80);
      }
      figure{
        border-radius: vw(20);
      }
      a{
        display: block;
      }
      .txt{
        position: absolute;
        top: vw(20);
        left: vw(15);
        h3{
          font-size: vw(38);
          line-height: 1.5;
          font-weight: bold;
          color: #fff;
          margin-bottom: vw(15);
        }
        p{
          font-size: vw(32);
          line-height: 1.3;
          color: #fff;
          font-weight: bold;
          margin-bottom: vw(15);
        }
        span{
          width: vw(250);
          height: vw(55);
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          border-radius: 100px;
          color: #fff;
          font-size: vw(22);
          line-height: 1;
          font-weight: bold;
        }
      }
    }
  }
}

.b_social{
  padding: vw(100) 0 vw(350);
  background: #FFED63;
  position: relative;
  &:before{
    content: "";
    width: 100%;
    height: vw(240);
    background: url('../img/bg_ttl_social_sp.png') center top no-repeat;
    background-size: cover;
    position: absolute;
    top: vw(-200);
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
  &_ttl{
    font-size: vw(40);
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-bottom: vw(40);
  }
  &_wrap{
    margin: vw(-120) 0 0 0;
    position: relative;
    z-index: 2;
  }
  &_item{
    &:not(:last-child){
      margin-bottom: vw(50);
    }
    .box{
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: vw(445);
      max-width: vw(445);
      margin: 0 auto 0;
      &:not(:last-child){
        margin-bottom: vw(80);
      }
      a{
        width: vw(360);
        height: vw(66);
        border-radius: 100px;
        background-color: #FFED63;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vw(28);
        line-height: 1;
        font-weight: bold;
      }
    }
  }
}